services:
  api:
    depends_on:
      - db
    build:
      context: api
      dockerfile: dockerfile
    ports:
      - 8080:8000
    env_file:
      - ./api/.env
    volumes:
      - ./api/app:/code/app
      - ./api/alembic:/code/alembic
      - ./api/main.py:/code/main.py
      - ./api/alembic.ini:/code/alembic.ini
    develop:
      watch:
        - action: sync
          path: ./api/app
          target: /code/app
        - action: sync
          path: ./api/alembic
          target: /code/alembic
        - action: sync
          path: ./api/main.py
          target: /code/main.py
        - action: rebuild
          path: ./api/pyproject.toml

  # backend:
  #   depends_on:
  #     - db
  #   build:
  #     context: .
  #     dockerfile: ./django_api/api.Dockerfile
  #   env_file:
  #     - ./django_api/.env
  #     - .env
  #   volumes:
  #     - ./django_api:/backend
  #     - venv_data:/backend/.venv
  #   ports:
  #     - 8001:8001
  #   develop:
  #     watch:
  #       - action: sync
  #         path: ./django_api
  #         target: /backend
  #         ignore:
  #           - ./django_api/.venv
  #       - action: rebuild
  #         path: ./django_api/pyproject.toml
  #       - action: rebuild
  #         path: ./django_api/poetry.lock
  ui:
    depends_on:
      - api
    build:
      context: ui
      dockerfile: ./dev.Dockerfile
    volumes:
      - ./ui:/app
      - node_modules:/app/node_modules
    ports:
      - 5173:5173
    develop:
      watch:
        - action: sync
          path: ./ui
          target: /app
          ignore:
            - ./ui/node_modules
        - action: rebuild
          path: ./ui/package.json
  db:
    image: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_HOST: ${DB_HOST}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - ./db-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.pl
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - 5050:80
    depends_on:
      - db
    volumes:
      - ./pgadmin-servers.json:/pgadmin4/servers.json
      - ./pgadmin-pgpass:/tmp/pgpassfile

volumes:
  venv_data:
  node_modules:
